<html>
<head>
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans:300,700"/>
  <link rel="stylesheet" type="text/css" href="{{ APP_ROOT }}/s/css.css"/>
  <script type="text/javascript">
    var _get = {
      {% for js_var in js_vars %}
      {{ js_var.name }}: "{{ js_var.val }}",
      {% endfor %}
    };
  </script>
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBjdvhtLSr0NnfjE-CxGTWdAFQOBLiZkmM&sensor=false"></script>
  <script type="text/javascript" src="{{ APP_ROOT }}/s/weathere.js"></script>
</head>
<body>
  <div id="notify"></div>
  <div id="location"><input type="text" onclick="this.select()" /></div>
</body>
</html>



