#memory-document {
  padding: 4px;
  border: 1px solid gray;
  border-radius: 4px;
  box-shadow: 2px 2px 4px 4px rgba(0,0,0,0.5);
  transform: rotateZ(2deg);
  background-color: white;
  position: fixed !important;
  right: 100px;
  bottom: 200px;
  width: 200px;
  height: 200px;
}
